@model List<PostDTO>
 
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">
            <button type="button" class="btn btn-success">Create</button>
        </a>
    }

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Job type</th>
            <th scope="col">Description</th>
            <th scope="col">Available Spaces</th>
            <th scope="col">Creator</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
        <tr>
            <th scope="row">@post.Id</th>
            <td>@post.Name</td>
            <td>@post.Content</td>
            <td>@post.Spaces</td>
            <td>@post.CreatedBy</td>



            @if (User.Identity.Name == post.UserEmail)
            {
        <td>
            <a asp-action="Edit" asp-route-id="@post.Id">
                <button type="button" class="btn btn-warning">Edit</button>
            </a>
            <a asp-action="Delete" asp-route-id="@post.Id">
                <button type="button" class="btn btn-danger">Delete</button>

            </a>

        </td>
        <td>
            <a asp-area="" asp-controller="Applyence" asp-action="ApplyIndex" asp-route-id="@post.Id">
                <button type="button" class="btn btn-primary">Look at Aplyences</button>
            </a>

        </td>
            }
            else
            {
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-action="Preview" asp-route-id="@post.Id">
                            <button type="button" class="btn btn-primary">Prevew</button>
                        </a>
                    </td>

                }
                else
                {
                    <td>
                        <h>login to preview job offers</h>
                    </td>
                }
            }
        </tr>
        }
    </tbody>
</table>
